<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url('../Images/SpaceBackground.jpg');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    
</head>
<body>
    <script src="script.js"></script>
    <table class = "banner">
        <th class = "banner"><a href="resume.html">Resume Page</a></th>
        <th class = "banner"><a href="index.html">Home Page</a></th>
        <th class = "banner"><a href="contact.html">Contact Page</a></th>
    </table>
    <table class = "ContactTable">
        <tr class="ContactTable">
        <th>Email</th>
        <th>LinkDin</th>
        <th>Github</th>
        </tr>
        <tr class = "ContactTable">
            <td>
                <a href = "mailto:cerdastudentpro@gmail.com">
                    Cerdastudentpro@gmail.com
                </a>
            </td>
            <td>
                    <a href = "https://www.linkedin.com/in/brian-cerda-18914b1a1/">
                        linkedin.com/in/brian-cerda-18914b1a1
                    </a>
            </td>
            <td>   
                <a href = "https://www.github.com/Impendingdoom257">
                    https://github.com/Impendingdoom257
                </a>
            </td>
        </tr>
    </table>
</body>
</html>