<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url('../Images/SpaceBackground.jpg');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    
</head>
<body>
    <script src="script.js"></script>
    <table class = "banner">
        <th class = "banner"><a href="resume.html">Resume Page</a></th>
        <th class = "banner"><a href="index.html">Home Page</a></th>
        <th class = "banner"><a href="contact.html">Contact Page</a></th>
    </table>
    <h1 class="bio">About Me</h1>
    <br>
    <p class="bio"><iframe src = "../AboutMe.txt" width = "75%" height = "1150px" frameborder = "0"></iframe></p>
    
</body>
</html>