table.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    background-color: dimgray;
    margin-top: 120px;
    border-spacing: 100px;
}
th.banner {
    font-size: 50px;
 }
th:hover.banner {
    background-color: lightgrey;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:active{
    color: black;
}

.bio{
    display:flex;
    justify-content: center;
    margin: 25px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 75px;
    background-color:rgb(136, 136, 126);
}
